.contacto__container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
    margin-top: 2%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include movil-s-m {
        padding: 1.5rem;
    }

    .big__circle {
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #f4433688, #92231b71);
        bottom: 50%;
        right: 50%;
        transform: translate(-40%, 38%);

        @include movil-s-m {
            display: none;
        }

        @include medium-device-900 {
            bottom: 75%;
            transform: scale(0.9) translate(-56%, 41%);
            right: 50%;
        }
    }

    .big__circle:after {
        content: "";
        position: absolute;
        width: 360px;
        height: 360px;
        background-color: #fff;
        border-radius: 50%;
        top: calc(50% - 180px);
        left: calc(50% - 180px);
    }

    .contacto__form {
        width: 100%;
        max-width: 1200px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        z-index: 1;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 82vh;

        @include medium-device-900 {
            grid-template-columns: 1fr;
        }

        .contacto__form-form {
            background-color:  #f44336;
            position: relative;

            .circle {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: linear-gradient(135deg, transparent 20%, #92231b);
                position: absolute;
            }

            .circle.one {
                width: 130px;
                height: 130px;
                top: 130px;
                right: -40px;
            }

            .circle.two {
                width: 80px;
                height: 80px;
                top: 10px;
                right: 30px;
            }

            form {
                padding: 2.3rem 2.2rem;
                z-index: 10;
                overflow: hidden;
                position: relative;

                @include movil-s-m {
                    padding: 1.7rem 1.6rem;
                }

                .form__title {
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 1;
                    margin-bottom: .7rem;

                    @include movil-s-m {
                        font-size: 1.15rem;
                    }
                }

                .input__container {
                    position: relative;
                    margin: 1rem 0;

                    input {
                        width: 100%;
                        outline: none;
                        border: 2px solid #fafafa;
                        background: #f5f5f5;
                        padding: .6rem 1.2rem;
                        color: #0e0e0e;
                        font-weight: 500;
                        font-size: .95rem;
                        letter-spacing: .5px;
                        border-radius: 5px;
                        transition: .4s;

                        @include movil-s-m {
                            padding: .45rem 1.2rem;
                        }
                    }

                    textarea {
                        width: 100%;
                        outline: none;
                        border: 2px solid #fafafa;
                        background: #f5f5f5;
                        padding: .6rem 1.2rem;
                        color: #0e0e0e;
                        font-weight: 500;
                        font-size: .95rem;
                        letter-spacing: .5px;
                        border-radius: 5px;
                        transition: .4s;
                        min-height: 150px;
                        resize: none;
                        overflow-y: auto;
                    }

                    label {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        padding: 0 .4rem;
                        color: #aaaaaa;
                        font-size: .9rem;
                        font-weight: 400;
                        pointer-events: none;
                        z-index: 1;
                        transition: .4s;
                    }
                }

                .input__container.textarea label {
                    top: 1rem;
                    transform: translateY(0);
                }

                .contacto-btn {
                    padding: .6rem 1.3rem;
                    background-color: #0e0e0e;
                    border: 1px solid #f8f8f8;
                    font-size: .95rem;
                    color: #fff;
                    line-height: 1;
                    border-radius: 25px;
                    outline: none;
                    cursor: pointer;
                    transition: .3s;
                    margin: 0;
                }

                .contacto-btn:hover {
                    background-color: transparent;
                    color: #0e0e0e;
                    font-weight: bold;
                    border: 2px solid #0e0e0e;
                }
            }
        }

        .contacto__info {
            padding: 2.3rem 2.2rem;
            position: relative;

            @include movil-s-m {
                padding: 1.7rem 1.6rem;
            }

            .contacto__title {
                color: #0e0e0e;
            }

            .contacto__text {
                color: #333;
                margin: 1.5rem 0 2rem 0;

                @include movil-s-m {
                    font-size: .8rem;
                }

                @include medium-device-900 {
                    margin: 1rem 0 1.5rem 0;
                }
            }

            .contacto__info-info {
                margin-top: -4%;

                .information {
                        display: flex;
                        color: #555;
                        margin: .7rem 0;
                        align-items: center;
                        font-size: .95rem;

                        @include movil-s-m {
                            font-size: .8rem;
                        }

                    i {
                        font-size: 28px;
                        margin-right: .7rem;
                    }
                }
            }

            .social-media {
                padding: 0rem;

                @include medium-device-900 {
                    padding: 1.5rem 0 0 0;
                }

                p {
                    color: #333;

                    @include movil-s-m {
                        font-size: .8rem;
                    }
                }

                .social-icons {
                    display: flex;
                    margin-top: .5rem;

                    @include movil-s-m {
                        width: 23px;
                    }

                    a {
                        width: 35px;
                        height: 35px;
                        border-radius: 5px;
                        background: linear-gradient(45deg, #f44336, #92231b);
                        color: #fff;
                        text-align: center;
                        line-height: 35px;
                        margin-right: .5rem;
                        transition: .3s;

                        @include movil-s-m {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                        }
                    }

                    a:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .contacto__info::before {
            content: "";
            position: absolute;
            width: 110px;
            height: 100px;
            background-color: 22px solid #f44336;
            border-radius: 50%;

            @include movil-s-m {
                display: none;
            }

            @include medium-device-900 {
                bottom: initial;
                top: -75px;
                right: 65px;
                transform: scale(0.95);
            }
        }
    }

    .contacto__form::before {

        @include medium-device-900 {
            top: -13px;
            left: initial;
            right: 70px;
        }
    }
}